<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <link rel="stylesheet" type="text/css" href="/static/notification.css">
</head>

<body>
    <div class="body"></div>
    <div class="chat">
        <div class="profile">
            <img src='https://images.unsplash.com/photo-1611606063065-ee7946f0787a?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                alt=''>
        </div>
        <div class="message">
            ! Kindly Wear Seat Belt.
             You have Travelled:- {{distance}}
        </div>
        <div class="user">
            Notification
        </div>
    </div>
    
    <script>
        setTimeout(function() {
            window.location.href = "{% url 'simulate' %}";
        }, 2000);
    </script>
</body>

</html>